[Desktop Entry]
Type=Application
Exec=QMLEVEMon
Name=QML EVEMon
GenericName=EVE Character Monitor
GenericName=EVE Online Character Monitor
X-KDE-StartupNotify=true
Icon=ru.minlexx.qmlevemon
Terminal=false
Categories=Game;RolePlaying;Monitor;Qt;
